export APP_PATH=/root/go/src/github.com/alekslesik/file-cloud/
export WEB_DB_DSN=web:Todor1990///@tcp(localhost:3306)/file_cloud?parseTime=true
export ADMIN_EMAIL=admin
export ADMIN_PWD=admin
export PORT=443
export ENV=development
export MYSQL_ROOT_PASS=4864Kokos///
export SESSION_SECRET=s6Ndh+pPbnzHbS*+9Pk8qGWhTzbpa@ge
export TLS_KEY_PATH=./tls/key.pem
export TLS_CERT_PATH=./tls/cert.pem