export APP_PATH=/root/go/src/github.com/alekslesik/file-cloud/
export WEB_DB_DSN=mysql://file_cloud:Todor1990///@/file_cloud?parseTime=true
# postgres://greenlight:pa55word@localhost/greenlight
export ADMIN_EMAIL=admin
export ADMIN_PWD=admin
export PORT=80
export ENV=development
export MYSQL_ROOT_PASS=4864Kokos///