{{template "base" .}}

{{define "title"}}Home{{end}}

{{define "body"}}
<article>
    <div id="content">
        <h1 class="title">New Cloud Club</h1>
        <div class="author">by <a href="https://github.com/alekslesik">@alekslesik</a></div>
        <div class="post-content">
            <p>
                Curabitur suscipit suscipit tellus. Etiam sit amet orci eget eros faucibus tincidunt. Praesent
                adipiscing. In dui magna, posuere eget, vestibulum et, tempor auctor, justo. Morbi vestibulum volutpat
                enim.

                Suspendisse non nisl sit amet velit hendrerit rutrum. Cras ultricies mi eu turpis hendrerit fringilla.
                Donec venenatis vulputate lorem. Etiam rhoncus. Pellentesque habitant morbi tristique senectus et netus
                et malesuada fames ac turpis egestas.

                Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Morbi ac felis. Ut non enim eleifend
                felis pretium feugiat. Praesent ac sem eget est egestas volutpat. Morbi mattis ullamcorper velit.

                Nulla facilisi. Maecenas egestas arcu quis ligula mattis placerat. Pellentesque ut neque. Proin magna.
                Nunc nulla.
            </p>
        </div>
    </div>
</article>
{{end}}